  *{
    font-family: "Poppins", sans-serif;
  }
  .sidebar-scroll::-webkit-scrollbar {
            width: 5px;
        }
        .sidebar-scroll::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 10px;
        }
    @media (min-width: 768px) {
        .sidebar-collapsed {
            width: 0 !important;
            transform: translateX(-200%);
        }

        .content-expanded {
            margin-left: 0 !important;
        }
    }